<?php

// Add the correct details here to connect to your MySQL database and then rename this file to config.php

$config['hostname'] = "localhost";
$config['username'] = "";
$config['password'] = "";
$config['database'] = "";

// Add your base url to handle the absolute path reference required by mod_rewrite

$config['base'] = "";

// Add your email address to receive notifications of new applicants, and your twitter for bugs (if you like).

$config['email'] = "";
$config['twitter'] = "";

?>
